@using SistemaBiblioteca.App.Mvc.Helpers
@model SistemaBiblioteca.App.Mvc.ViewModels.LivroViewModel

@{
    var maxCaracter = 1000;
}

<div class="modal-block modal-block-primary app-modal-md modal-header-color">
    <section class="panel">
        <header class="panel-heading" style="background-color: #035785; margin: -1px;">
            <h2 class="panel-title" style="color:white">Alterar</h2>
        </header>
        <div class="panel-body">
            <input type="hidden" name="Id" id="iIdLivro" value="@Model.Id" />
            <form id="form-manter-livro" class="form-group" style="margin-bottom:0;">
                <div class="row">
                    <div class="col-sm-12 form-group">
                        <label class="control-label">Imagem</label> @CustomHtmlHelper.CampoObrigatorio("Imagem")
                        <div class="input-group">
                            <input type="text" name="Imagem" id="Imagem" class="form-control" value="@Model.Imagem">
                            <span class="input-group-btn">
                                <label class="btn btn-primary" for="ImagemUpload">
                                    <input class="form-control" id="ImagemUpload" name="ImagemUpload" type="file" style="display: none"
                                           onchange="$('#Imagem').val(this.files[0].name); $('#ImagemUpload').blur();" value="@Model.ImagemUpload">
                                    <span class="glyphicon glyphicon-cloud-upload"></span>
                                </label>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 form-group">
                        <label class="control-label">Título</label> @CustomHtmlHelper.CampoObrigatorio("Titulo")
                        <input type="text" class="form-control" id="Titulo" name="Titulo" value="@Model.Titulo" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 form-group">
                        <label class="control-label">Descrição</label> @CustomHtmlHelper.CampoObrigatorio("Descricao")
                        <textarea maxlength="1000" rows="5" id="Descricao" name="Descricao" class="form-control campo-digitacao">@Model.Descricao</textarea>
                        <span asp-validation-for="Descricao" class="text-danger"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        Caracteres restantes: <span id="contador-caracteres">@(maxCaracter - Model.Descricao.Length)</span>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-sm-12 form-group">
                        <label class="control-label">Editora</label> @CustomHtmlHelper.CampoObrigatorio("Editora")
                        <input type="text" class="form-control" id="Editora" name="Editora" value="@Model.Editora" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group datapicker" style="z-index: 19001;">
                            <label class="control-label">Data de publicação</label> @CustomHtmlHelper.CampoObrigatorio("AnoPublicacao")
                            <div class="input-group flex-nowrap date" data-provide="datepicker">
                                <input class="form-control" placeholder="" id="AnoPublicacao" name="AnoPublicacao" value="@Model.AnoPublicacao.ToString("dd/MM/yyyy")">
                                <span class="input-group-btn">
                                    <label class="btn btn-primary" for="AnoPublicacao">
                                        <input class="form-control" style="display: none">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </label>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>

        <footer class="panel-footer">
            <div class="row">
                <div class="col-sm-12 text-right">
                    <button class="btn btn-sm btn-default btn-fechar">
                        <i class="fa fa-times mr-xs"></i> Fechar
                    </button>
                    <button class="btn btn-sm btn-primary" id="btn-salvar">
                        <i class="fa fa-save mr-xs"></i> Salvar
                    </button>
                </div>
            </div>
        </footer>
    </section>
</div>